.top-page{
display: flex;
// justify-content: center;
}

.site-description{
    display: none;
}
.site-header {
    margin-top: 3rem;
}
.logo{
    display: block;
    width: 300px;}

.container{
    padding: 2.5%;
    width: 100%;
}