.top-page{
display: flex;
// justify-content: center;
}

.site-description{
    display: none;
}
.site-header {
    margin-top: 3rem;
}
.logo{
    display: block;
    width: 300px;
        @include desktop{
            margin: 0 ;
            width: 700px;
            margin-left: 125px;
        }
        @include tablet{
    }
}




.container{
    padding: 2.5%;
    width: 100%;
        @include desktop{
        margin: 0 auto;
        max-width: 1080px;
        padding: 2.5%;
        width: 100%;
        }

}