.page-template-default .container-content ul{list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;}
    .page-template-default .container-content li{
        margin-right: 18px;
    }
